.header-wrapper {
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;

  background-color: #202022;
  color: #fff;

  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.header-title h1 {
  font-size: 28px;
  margin: 0;
}

.header-title h2 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-top: -4px;
  color: #b5b5b5;
}

.header-routing {
  display: flex;
  gap: 50px;
  list-style: none;

  margin: 0;
  padding: 0;
}

.header-routing li {
  cursor: pointer;
  font-size: 16px;
  transition: color 0.2s ease, transform 0.2s ease;
}

.header-routing a {
  color: white;
  text-decoration: none;
}

.header-routing a:hover {
  color: #00d8ff;
}

.header-routing li:hover {
  color: #00d8ff;
  transform: translateY(-2px);
}
