.profile-wrapper {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  color: white;
}

.profile-card {
  background: #242426;
  padding: 24px;
  border-radius: 12px;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-card button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #ff6363;
  color: white;
  cursor: pointer;
}

.profile-card button:hover {
  background: #ff7f7f;
}
