.details-wrapper {
  margin-top: 120px;
  padding: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-btn {
  align-self: flex-start;
  margin-bottom: 20px;
  padding: 8px 16px;

  background: #2c2c2e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: 0.2s ease;
}

.back-btn:hover {
  background: #3a3a3c;
}

.details-card {
  display: flex;
  gap: 32px;
  background: #242426;
  padding: 24px;
  border-radius: 16px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
}

.details-image {
  width: 260px;
  height: 260px;
  border-radius: 12px;
  object-fit: cover;
}

.details-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details-info h1 {
  margin-bottom: 12px;
}
